body {
	background-color: #1abc9c;
}


#wrapper {
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: 'Glass Antiqua', cursive;
	font-weight: normal 400;
	font-size: 62px;
	text-align: center;
	margin: 10px 0 0 0;

}

h2 {
	font-family: 'Abel', sans-serif;
	font-weight: normal 400;
	font-size: 28px;
	text-align: center;	
	padding: 0 auto;
}

p, a {
	font-family: 'Abel', sans-serif;
	font-weight: normal 400;
	font-size: 14px;
}